.user-contacts {
    min-height: 638px;
    font-family: 'Raleway', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
.user-contacts h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 22px;
    color: #212121;
}
.user-contacts h2::after {
    content: '';
    width: 64px;
    height: 2px;
    position: absolute;
    left: calc(50% - 64px/2);
    bottom: 0;
    background: #FD8B38;
}
.user-contacts-description {
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #86878B;
}
.user-contacts header {
    margin-bottom: 111px;
}
.contact-form {
    display: flex;
    /* Не работает */
    /*justify-content: space-between;*/
    margin-bottom: 46px;
}
.contact-form input{
    min-width: 527px;
    min-height: 32px;
    color: #BDBDBD;
    padding-left: 12px;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    font-size: 14px;
}
.entry-form-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 56px; /* А это работает */
}
.entry-form-2 input {
    padding-bottom: 127px;
}
.contact-button {
    width: 163px;
    height: 42px;
    color: #ffffff;
    font-size: 15px;
    background-color: #FA8F21;
    border: 1px solid #ffffff;
    border-radius: 4px;
}