.custom-section {
    min-height: 297px;
    background: url("../img/architecture-1850129_1920 1.svg") center/cover no-repeat #86878B;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-section .custom-title {
    color: #FFFFFF;
}

.custom-section .section-title::after {
    background: #ffffff;
}

.custom-section .section-description {
    color: #ffffff;
}

.custom-section header {
    margin-bottom: 38px;
}

.custom-section .button-download {
    background-color: inherit;
    animation: pulse 2s ease infinite;
}

@keyframes pulse {
    0% {
        background-color: inherit;
    }
    50% {
        background-color: #FD8B38;
    }
}
