.first-page {
    font-family: 'Raleway', 'Arial', sans-serif;
    background: url("../other pic/image 1.svg") center/cover no-repeat;
    background-blend-mode: multiply;
    padding: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-info {
    max-width: 542px;
    color: #ffffff;
}
h1 {
    margin: 0 0 30px 0;
    font-size: 72px;
}
.main-info span {
    color: #FD8B38;
    font-weight: normal;
}
h2 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
.main-info h2 {
    font-size: 36px;
    font-weight: normal;
    position: relative;
    padding-bottom: 32px;
    margin-bottom: 32px;
}
.main-info h2::after {
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffffff;
}
.main-info-description {
    max-width: 490px;
    margin: 0 0 42px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}
.main-info button {
    width: 134px;
    height: 42px;
    color: #ffffff;
    font-size: 15px;
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.get-started {
    min-width: 360px;
    min-height: 368px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.get-started header {
    min-height: 54px;
    font-size: 20px;
    font-weight: bold;
    background-color: #DFDFDF;
    text-align: center;
    line-height: 54px;
    border-radius: 5px 5px 0 0;
}
.get-started span {
    color: #FD8B38;
}
.get-started-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-started-data input{
    min-width: 276px;
    min-height: 32px;
    padding-left: 12px;
    margin-bottom: 36px;
    color: #BDBDBD;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    font-size: 14px;
}
.get-started button {
    width: 360px;
    height: 54px;
    border: 0;
    border-radius: 0 0 5px 5px;
    background-color: #ff9b51;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
nav {
    font-family: 'Raleway', 'Arial', sans-serif;
    min-height: 64px;
    padding: 0 142px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
.navbar-logo {
    margin: 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}
.navbar-logo span {
    color: #FD8B38;
    font-weight: normal;
}
.navbar-link a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 22px;
}
.header-social-net {
    font-family: 'Raleway', 'Arial', sans-serif;
    min-height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 142px;
}
.social-net-info {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 6px 0;
}
.social-net-info-description {
    max-width: 390px;
    margin: 0;
    font-size: 14px;
    color: #86878B;
    line-height: 20px;
}
.header-social-net-icons {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}
.header-social-net-icons img {
    width: 40px;
    height: 40px;
}