.process {
    padding: 102px 144px;
}

.process header {
    margin-bottom: 66px;
}

.process-details {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.process-detail {
    max-width: 350px;
}

.process-detail img {
    margin-bottom: 27px;
}

.process-detail-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 16px 0;
}

.about-details {
    margin: 0;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #86878B;
}
