.reviews {
    padding: 80px 160px;
}

.reviews header {
    margin-bottom: 66px;
}

.reviews-details {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.reviews-comment {
    width: 290px;
    height: 127px;
    background-color: #F5F5F5;
    position: relative;
    margin: 0 0 28px 0;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #86878B;
    font-size: 14px;
    font-style: italic;
    line-height: 19px;
}

.reviews-comment::after {
    content: '';
    position: absolute;
    bottom: -27px; left: 25px;
    border: 10px solid transparent;
    border-top: 17px solid #F5F5F5;
}

.reviews-users {
    display: flex;
    align-items: center;
}

.reviews-user-avatar {
    width: 70px;
    height: 70px;
    margin-right: 16px;
}

.reviews-users-info {
    display: flex;
    flex-direction: column;
}

.reviews-user-name {
    font-size: 20px;
    margin: 0 0 1px 0;
}

.reviews-user-prof {
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #86878B;
}

